* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: olivedrab;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 40px;
    border-radius: 50%;

}



nav ul {
    text-decoration: none;
    margin: auto;
    list-style: none;
    display: flex;
    gap: 60px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin: 0 15px;
    transition: 0.3s;
}

nav a:hover {
    text-decoration: underline;
}

/* active with target psudo class */
#admin:target~header nav a[href="#admin"],
#canceltickets:target~header nav a[href="#canceltickets"],
#offers:target~header nav a[href="#offers"] {
    background: white;
    color: olivedrab;
    font-weight: bold;
}


.login-btn a {
    background: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.login-btn a:hover {
    background: linear-gradient(to right, #0066ff, #0033cc);
}

/* Hero Section */
/* .background{
  background-image: url("");
} */

.hero {
    position: relative;
    height: 100vh;
    background: url("https://i.ibb.co.com/84x7XCnm/79fc65573c42cd2a8e5479f041e9f826.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.hero-text {
    position: relative;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 20px;
}

.hero-text {
    animation: fadeInUp 1s ease;
}


/* fadeInUp */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Search Box */
.search-box {
    position: relative;
    background: mediumturquoise;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.search-box form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    color: white;
    font-size: 14px;
    margin: 5px;
    width: 200px;
}

.form-group select,
.form-group input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-btn {
    grid-column: span 2;
    background: yellow;
    border: none;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}


.search-btn:hover {
    background: #2563eb;
}